ejercicios-de-programacion/*/soluciones
ejercicios-de-programacion/*/correctos
ejercicios-de-programacion/*/figure
ejercicios-de-programacion/*/cache
*/files
*~
*-sol.R
*.html
*.png
*.rda
*.Rhistory
*.Rproj.user
*.sw*
*.vim
Rplots.pdf
Curso-R.Rproj
apuntes.*
.Rprofile
*NA
