ejercicios-de-programacion/*/soluciones
ejercicios-de-programacion/*/correctos
ejercicios-de-programacion/*/figure
ejercicios-de-programacion/*/cache
*/files

*.Rproj.user
*.Rhistory
*.rda
*~
*-sol.R
*.html
*.sw*
*.png
Rplots.pdf
Curso-R.Rproj
apuntes.*
.Rprofile
*NA
